body {
    background-color: #E9ECEF;
}

input {
    background-color: #FAFEFD;
    border: 1px solid #ccc;
    /* Optional: adds a border to make inputs visible */
}

.custom-input {
    background-color: #FAFEFD;
}